.init-hide {
  display: none;
}

.corp-dir-controls {
  overflow: hidden;
  margin: 10px 0;
  padding-right: 30px;
}

.corp-dir-controls .letter {
  float: left;
  min-width: 16px;
  text-align: center;
  padding: 6px 10px;
  cursor: pointer;
  background-color: #0072c6;
  border-color: #0072c6;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px 5px 0;
}

.corp-dir-controls .letter:hover, .corp-dir-controls .letter.active {
  background-color: #00497e;
  border-color: #00497e;
}

.ms-srch-people-outerContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 1px solid #e1e1e1;
  margin: 0 15px 15px 0;
  padding: 10px;
  vertical-align: top;
}

.ms-srch-people-outerContainer #NameFieldLink, .ms-srch-people-outerContainer #NameFieldLink:link, .ms-srch-people-outerContainer #NameFieldLink:visited {
  color: #0072c6;
}

.ms-srch-people-outerContainer #NameFieldLink:visited {
  color: #00497e;
}

.ms-srch-people-outerContainer .ms-srch-people-item {
  width: auto;
  padding: 0;
  min-height: none;
  overflow: visible;
}

.ms-srch-people-outerContainer #UserPersonaContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

.ms-srch-people-outerContainer #UserPersonaContainer #UserPersona .ms-table {
  margin: 0 auto;
}

.ms-srch-people-outerContainer #UserInfoContainer {
  width: 100%;
  margin: 0;
  float: none;
}

.ms-srch-people-outerContainer #UserInfoContainer .label {
  font-weight: bold;
  margin: 0 5px 0 0;
  width: auto;
}

.ms-srch-people-outerContainer #UserInfoContainer #NameField {
  text-align: center;
}

.ms-srch-people-outerContainer #UserInfoContainer #NameField a, .ms-srch-people-outerContainer #UserInfoContainer #NameField a:link, .ms-srch-people-outerContainer #UserInfoContainer #NameField a:visited {
  font-size: 18px;
  color: #0072c6;
}

.ms-srch-people-outerContainer #UserInfoContainer #NameField a:hover {
  color: #00497e;
}

.ms-srch-people-outerContainer #UserInfoContainer #JobTitleField {
  text-align: center;
  font-style: italic;
  padding-top: 0;
}

.ms-srch-people-outerContainer #UserInfoContainer #DepartmentField {
  margin-top: 10px;
}

.ms-srch-people-outerContainer #UserInfoContainer #MobilePhoneField,
.ms-srch-people-outerContainer #UserInfoContainer #MoreInfoShort,
.ms-srch-people-outerContainer #UserInfoContainer #MoreInfoLong,
.ms-srch-people-outerContainer #UserInfoContainer #SelfSearchInfo,
.ms-srch-people-outerContainer #UserInfoContainer .ms-srch-people-item-separator {
  display: none;
}

.init-hide {
  display: none;
}

.corp-dir-webpart {
  position: relative;
}

.corp-dir-webpart .corp-dir-config-toggle {
  position: absolute;
  top: 2px;
  right: 5px;
  display: inline-block;
}

.corp-dir-webpart .corp-dir-config-toggle > a {
  background-image: url("../images/cog.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.corp-dir-webpart .corp-dir-config-panel {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.corp-dir-webpart .corp-dir-config-panel .corp-dir-config-properties {
  display: table;
}

.corp-dir-webpart .corp-dir-config-panel .corp-dir-config-properties .corp-dir-property-group {
  display: table-row;
}

.corp-dir-webpart .corp-dir-config-panel .corp-dir-config-properties .corp-dir-property-group .corp-dir-property-label, .corp-dir-webpart .corp-dir-config-panel .corp-dir-config-properties .corp-dir-property-group corp-dir-property-value {
  display: table-cell;
  padding: 15px 15px 15px 0;
}

.corp-dir-webpart .corp-dir-config-panel .corp-dir-config-panel-controls input {
  margin: 0;
}

.corp-dir-webpart .corp-dir-config-panel.opened + .corp-dir-config-toggle {
  top: 5px;
}

.corp-dir-webpart .corp-dir-config-panel-message {
  padding: 10px 0;
  font-style: italic;
}

.corp-dir-webpart .corp-dir-config-panel-message[type="success"] {
  color: #27ae60;
}

.corp-dir-webpart .corp-dir-config-panel-message[type="error"] {
  color: #c0392b;
}

img[alt='[corp-dir-feature-logo]'] {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/feature-logo.png");
  background-repeat: no-repeat;
  width: 64px;
  /* Width of new image */
  height: 64px;
  /* Height of new image */
  padding-left: 64px;
  /* Equal to width of new image */
}

/*# sourceMappingURL=default.css.map */